<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show post</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>Showing post</h1>
    <div class="post">
        <p>Post id : <%= post.id %></p>
        <h3>@<%= post.username %></h3>
        <img class="postimage" src="/<%=post.imagelink%>" alt="post">
        <p><%= post.caption %></p>
    </div>

   <div style="display: flex;">
        <form action="/posts/<%= post.id %>/edit">
            <button class="btn">edit</button>
        </form>
        <form method="get" action="/posts">
            <button class="btn">all posts</button>
        </form>
        <form action="/posts/<%= post.id %>/?_method=DELETE" method="post" onsubmit="return confirmDelete()">
            <button class="btn deletebtn">delete post</button>
        </form>
   </div>

   <script>
        function confirmDelete() {
            return confirm("Are you sure want to delete this post?")
        }
    </script>
</body>
</html>